<%= form_for @imsi_datum, :html => { :class => "form-horizontal imsi_datum" } do |f| %>

    <% if @imsi_datum.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@imsi_datum.errors.count, "error") %> prohibited this imsi_datum from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @imsi_datum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :aimsicd_threat_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :aimsicd_threat_level, :class => 'form-control' %>
    </div>
    <%= error_span(@imsi_datum[:aimsicd_threat_level]) %>
  </div>
  <div class="control-group">
    <%= f.label :latitude_degrees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude_degrees, :class => 'form-control' %>
    </div>
    <%= error_span(@imsi_datum[:latitude_degrees]) %>
  </div>
  <div class="control-group">
    <%= f.label :longitude_degrees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude_degrees, :class => 'form-control' %>
    </div>
    <%= error_span(@imsi_datum[:longitude_degrees]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            imsi_data_path, :class => 'btn btn-default' %>

<% end %>
