<%= form_for @wifi_datum, :html => { :class => "form-horizontal wifi_datum" } do |f| %>

    <% if @wifi_datum.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@wifi_datum.errors.count, "error") %> prohibited this wifi_datum from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @wifi_datum.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :num_wifi_hotspots, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :num_wifi_hotspots, :class => 'form-control' %>
    </div>
    <%= error_span(@wifi_datum[:num_wifi_hotspots]) %>
  </div>
  <div class="control-group">
    <%= f.label :latitude_degrees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latitude_degrees, :class => 'form-control' %>
    </div>
    <%= error_span(@wifi_datum[:latitude_degrees]) %>
  </div>
  <div class="control-group">
    <%= f.label :longitude_degrees, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :longitude_degrees, :class => 'form-control' %>
    </div>
    <%= error_span(@wifi_datum[:longitude_degrees]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            wifi_data_path, :class => 'btn btn-default' %>

<% end %>
