<p id="notice"><%= notice %></p>

<h1>Listing Wifi Data</h1>

<table>
  <thead>
    <tr>
      <th>Num wifi hotspots</th>
      <th>Latitude degrees</th>
      <th>Longitude degrees</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wifi_data.each do |wifi_datum| %>
      <tr>
        <td><%= wifi_datum.num_wifi_hotspots %></td>
        <td><%= wifi_datum.latitude_degrees %></td>
        <td><%= wifi_datum.longitude_degrees %></td>
        <td><%= link_to 'Show', wifi_datum %></td>
        <td><%= link_to 'Edit', edit_wifi_datum_path(wifi_datum) %></td>
        <td><%= link_to 'Destroy', wifi_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wifi datum', new_wifi_datum_path %>
